* {
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, .hero-title {
    font-family: 'Montserrat', sans-serif;
}


.ILIA-title-title{
    font-weight: bold;
    font-size: 2.5rem;
    color: yellow;
}

HCK-title-title{
    font-weight: bold;
    font-size: 2.5rem;
    color: cyan;
}